@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Montserrat:ital,wght@1,200&family=Open+Sans:ital,wght@1,300&family=Ubuntu:wght@300&display=swap');
html, body {
    height: 95%;
    width: 99%;
    font-family: 'Dancing Script', cursive;
    background: black;
}


.container{
    width: 60vh;
    height: 80vh;
    background: rgb(48, 46, 46);
    border-radius: 18px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(0, 0, 0, 0.2);
}
.button{
    width: 66px;
    padding: 23px;
    margin: 0 3px;
    border: 2px solid rgb(48, 46, 46);
    border-radius: 20px;
    cursor: pointer;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    color: #fff;
}

.button:hover{
    background-color: rgb(73, 72, 72);
}

.row{
    margin: 8px 0;
}
.row input{
    text-align: right;
    font-size: 20px;
    margin: 15px;
    padding: 18px  23px;
    border: 4px groove rgb(48, 46, 46);
    border-radius: 9px;box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(0, 0, 0, 0.2);
}